.category-executive {
    margin-top: 65px;
  .subheader {
    padding: 4px 6px 4px 6px;
    background-color: rgba(2, 44, 67, 1);
    text-transform: uppercase;
    font-family: sans-serif Euclid Circular B;
    font-size: 10px;
    letter-spacing: 0.08em;
  }
  h3 {
    font-size: 32px;
    font-family: sans-serif Euclid Circular B;
    letter-spacing: 0.12em;
    font-weight: 700;
    text-transform: uppercase;
  }
  .about {
    width: 440px;
    font-family: sans-serif Euclid Circular;
    font-size: 16px;
    line-height: 30px !important;
    letter-spacing: 0.03em;
  }
}

// APPLY HERE
.cta {
    border: none;
    background: none;
    span {
      padding-bottom: 18px;
      letter-spacing: 0.03em;
      font-size: 12px;
      color: white;
      padding-right: 15px;
      text-transform: uppercase;
    }
    i {
      transform: translateX(40px);
      transition: all 0.3s ease;
      color: white;
    }
    &:hover i {
      transform: translateX(73px);
    }
    &:active i {
      transform: scale(0.9);
    }
    .hover-underline-animation {
      position: relative;
      color: white;
      padding-bottom: 30px;
    }
    .hover-underline-animation:after {
      content: "";
      position: absolute;
      width: 180px;
      transform: scaleX(0);
      height: 1.5px;
      bottom: 0;
      left: 0;
      background-color: #fff;
      transform-origin: bottom right;
      transition: transform 0.25s ease-out;
    }

    &:hover .hover-underline-animation:after {
      transform: scaleX(1);
      transform-origin: bottom left;
    }
  }
// APPLY HERE
@media only screen and (max-width: 600px) {
  .category-executive{
    .about{
      width: auto;
    }
  }
}
@media only screen and (max-width: 922px) {
  .category-executive{
    h3{
      font-size: 25px;
    }
  }
}