@import "../styles/variables.scss";
.app {
  &-wrapper {
    background-color: $background-color;
  }
}
.App{
  .loader{
      text-align: center;
  background-color: #212121;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  }

}
