.doughnt{
    width: 300px;
}
.title{
    h1{
        font-family: sans-serif Euclid Circular B;
        font-weight: bold;
        font-size: 24px;
        letter-spacing: 0.03em;
    }
}
.chart-info{
    span{
        margin-right: 10px;
        width: 8px;
        height: 8px;
        border-radius: 50%;
    }
    p{
        font-family: sans-serif Euclid Circular B;
        font-weight: bold;
        font-size: 18px;
        letter-spacing: 0.03em;
    }
}
