@import "../../styles/variables.scss";
.privacy {
  color: $white;
  padding: 100px 0;
  .home__shadowText{
    overflow-x: hidden;
  }
  .home__shadowText--title{
    font-size: 135px;
    font-family: sans-serif Euclid Circular;
    letter-spacing: 0.03em;
    width: 1789.97px;
    margin-left: 0;
    margin-top: 50px;
    font-weight: 900;
  }
  .Privacy-text{
    display: flex;
    margin-top: 40px;
    justify-content: center;
    align-items: center;
    .Information{
      display: inline-block;
      width: 89%;
      .title{
        margin-bottom: 70px;
      }
      h4{
        font-size: 70px;
        font-weight: 700;
        font-family: sans-serif Euclid Circular;
        margin-left: 0 !important;
      }
      h5{
        font-size: 24px;
        letter-spacing: 0.03em;
        font-weight: 700;
        font-family: sans-serif Euclid Circular;
      }
      p{
        letter-spacing: 0.03em;
        font-family: sans-serif Euclid Circular;
        font-size: 16px;
        line-height: 48px;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
.privacy{
  .home__shadowText--title{
    font-size: 85px !important;
  }
  .Privacy-text{
    h4{
      font-size: 40px !important;
    }
    p{
      font-size: 14px !important;
    }
  }
}
}
@media only screen and (max-width: 922px) {
  .privacy{
    .home__shadowText--title{
      font-size: 100px;
    }
    .Privacy-text{
      h4{
        font-size: 50px;
      }
      p{
        font-size: 15px;
      }
    }
  }
}